{% extends "layout/_base.njk" %}

{% block content %}
  <div class="uk-flex uk-flex-wrap   uk-height-medium">

    <a class="uk-card uk-card-default uk-margin" href="pages/typhoon.html">
      <div class="uk-card-media-top">
        <img src="/img/shizensaigai_typhoon.png" alt="">
      </div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">いくらか強い台風</h3>
      </div>
    </a>
  </div>
{% endblock %}