{% if pageTitle %}
  {% set fixedPageTitle = pageTitle + ' | stadstonecomplex.github.io' %}
{% else %}
  {% set fixedPageTitle = 'stadstonecomplex.github.io' %}
{% endif %}
{% if self._TemplateReference__context.name == 'index.njk' %}
  {% set ogType = 'website' %}
{% else %}
  {% set ogType = 'article' %}
{% endif %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# 
    <meta property="og:title" content="ページのタイトル"/>
    <meta property="og:type" content="種類"/>
    <meta property="og:url" content="ページのURL"/>
    <meta property="og:image" content="画像のURL"/>
    <meta property="og:description" content="説明文"/>
    <meta property="og:site_name" content="サイトのタイトル"/>
    <meta name="twitter:card" content="summaryやsummary_large_imageなど"/>
     #}
    <meta property="og:title" content="{{ fixedPageTitle }}"/>
    <meta property="og:type" content="{{ ogType }}"/>
    <meta property="og:url" content="{{ data.rootURL }}{{ data.path.htmlPath }}"/>
    {% if ogImage %}
      <meta property="og:image" content="{{ ogImage }}"/>
    {% endif %}
    {# <meta property="og:description" content="説明文"/> #}
    <meta property="og:site_name" content="{{ fixedPageTitle }}"/>
    <meta name="twitter:card" content="summary_large_image"/>

    <title>{{ fixedPageTitle }}</title>

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css"/>
    {% block css -%}{%- endblock %}

  </head>
  <body>
    <nav class="uk-background-secondary uk-light uk-margin-bottom" uk-navbar="uk-navbar">
      <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="/">stadstonecomplex.github.io</a>
      </div>
    </nav>
    <div class="uk-container">
      {% block content %}{% endblock %}
    </div>

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit-icons.min.js"></script>
    {% block js -%}{%- endblock %}
  </body>
</html>