{% extends "layout/_base.njk" %}
{% set pageTitle = 'いくらか強い台風' %}
{% set ogDesc = '「大型で強い台風」は東京ドーム何個分強いのかわかりづらい' %}
{% set ogImage = data.rootURL + 'img/shizensaigai_typhoon.png' %}

{% block content %}
  <div>
    <h1>いくらか強い台風</h1>
    <form id="expressionForm">
      <fieldset class="uk-fieldset">

        <h4>大きさ</h4>
        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
          <label><input class="uk-radio" type="radio" name="sizeRadio" value="0" onchange="updateSpecText()" checked="checked">
            （なし）</label>
          <label><input class="uk-radio" type="radio" name="sizeRadio" value="1" onchange="updateSpecText()">
            大型（大きい）</label>
          <label><input class="uk-radio" type="radio" name="sizeRadio" value="2" onchange="updateSpecText()">
            超大型（非常に大きい）</label>
        </div>
        <h4>強さ</h4>
        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
          <label><input class="uk-radio" type="radio" name="strengthRadio" value="0" onchange="updateSpecText()" checked="checked">
            （なし）</label>
          <label><input class="uk-radio" type="radio" name="strengthRadio" value="1" onchange="updateSpecText()">
            強い</label>
          <label><input class="uk-radio" type="radio" name="strengthRadio" value="2" onchange="updateSpecText()">
            非常に強い</label>
          <label><input class="uk-radio" type="radio" name="strengthRadio" value="3" onchange="updateSpecText()">
            猛烈な</label>
        </div>
      </fieldset>
      <p>
        <span id="expSpan"></span>⇒「強風域の直径が<span id="strengthSpan"></span>で最大風速が<span id="sizeSpan"></span>」の台風を指します。</p>
      <p>
        出典：<a href="https://www.jma.go.jp/jma/kishou/know/typhoon/1-3.html">気象庁｜台風の大きさと強さ</a><br>
        サムネイル：<a href="https://www.irasutoya.com/2012/11/blog-post_2.html">台風のイラスト（自然災害） | かわいいフリー素材集 いらすとや</a>
      </p>
    </form>
  </div>
{% endblock %}

{% block js %}
  <script src="/js/typhoon.min.js"></script>
{% endblock %}